<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/quiz_app.css') }}">
        <title>Quiz App</title>
    </head>
    <body>
        <div id="container">
            <h1>Start Quiz</h1>
            <button id="start">Start</button>
        </div>

        <script src="{{ url_for('static',filename='js/quiz_app.js') }}"></script>
    </body>
</html>