.flex-container {
    background-color: aquamarine;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction:column-reverse;
}
.flex-item {
    background-color: aqua;
    height: 50px;
    width: 100px;
    margin: 5px;
}


.flex-container1 {
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
}

.flex-container2 {
    background-color:blanchedalmond;
    display: flex;
}

.flex-container3 {
    background-color:chocolate;
    display: flex;
}

.flex-container4 {
    background-color:chocolate;
    display: flex;
    height: 200px;
    /* align-items: center; */

}