.container {
    background-color: aqua;
    /* padding: 10px; */
    display: grid;
    /* grid-template-columns: 100px 200px 300px; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: 100px auto auto 200px auto;  */
    grid-template-columns: 1fr 1fr 2fr 3fr; 
    
    gap: 10px;
    /* grid-template-columns: 100px 100px 100px; */
}

.grid-item {
    background-color: bisque;
    /* height: 100px; */
    /* width: 100px; */
    margin: 5px;
    /* padding: 10px; */
}


.container1 {
    background-color: lightcoral;
    display: grid;
    /* grid-template-columns: auto auto auto auto auto auto; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(6,auto); */
    /* grid-template-columns: repeat(6,1fr); */
    grid-template-columns: repeat(6,100px);
}

.container2{
    background-color: yellowgreen;
    display: grid;
    /* grid-template-columns: minmax(300px,500px); */
    /* grid-template-columns: minmax(100px,auto) minmax(200px,auto) minmax(300px,auto); */
    /* grid-template-columns: minmax(100px,auto) minmax(100px,auto) minmax(100px,auto); */
    grid-template-columns:  repeat(3,minmax(100px,auto));
}

.container3{
    background-color: yellowgreen;
    display: grid;
    /* grid-template-columns: minmax(300px,500px); */
    /* grid-template-columns: minmax(100px,auto) minmax(200px,auto) minmax(300px,auto); */
    /* grid-template-columns: minmax(100px,auto) minmax(100px,auto) minmax(100px,auto); */
    grid-template-columns:  repeat(3,100px);
    grid-template-rows: 300px 500px;
}

.container4 {
    background-color: lightblue;
    display: grid;
    /* grid-template-columns:  repeat(auto-fit,100px); */
    grid-template-columns:  repeat(auto-fit,500px);
}