.bg-color {
    background-color: aquamarine;
}

.bg-color1 {
    background-color: red;
}

.bg-color2 {
    background-color:antiquewhite;
}

.bg-color3 {
    background-color:yellow;
}

.bg-color4 {
    background-color:blueviolet;
}