{% extends 'layout.html' %}

{% block 'title' %} Shop {% endblock %}

{% block 'content' %}
<header class="py-5 shop-header">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <!-- <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p> -->
        </div>
    </div>
</header>
<div class="container py-5">
    <div class="dropdown">
        <button class="btn dropdown-toggle category-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Filter By Category
        </button>
        <ul class="dropdown-menu">
            {% for category in categories %}
                <li><a class="dropdown-item" href="{% url 'category_filter' category.id %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="row mt-5">
        {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <a href="{% url 'product' product.id %}">
                        <!-- Sale badge-->
                        {% if product.is_sale %}
                            <div class="badge text-white position-absolute card-sale " style="top: 0.5rem; right: 0.5rem">Sale</div>
                        {% endif %}
                            <!-- Product image-->
                        <img class="card-img-top" src="{{ product.image.url }}" alt="...">
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="card-subtitle text-muted py-1">{{ product.category.name }}</h5>
                                <h5 class="fw-bolder py-1">{{ product.title }}</h5>
                                <p class='card-text' > {{ product.description }} </p>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                {% if product.is_sale %}
                                    <span class="text-muted text-decoration-line-through"> ${{ product.price }}</span>
                                    ${{ product.sale_price }}
                                
                                {% else %}
                                    ${{ product.price }}
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        
    </div>
</div>
{% endblock %}